main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  text-align: center;
}

table {
  margin: 1rem auto;
  background-color: black;
}

th,
td {
  min-width: 100px;
  text-align: center;
  background-color: white;
  padding: 0.2rem 1rem;
}
